*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#6366f1,#22c55e);
}

.auth-card{
background:white;
width:330px;
padding:35px;
border-radius:12px;
box-shadow:0 15px 40px rgba(0,0,0,.2);
text-align:center;
}

h2{
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:6px;
}

button{
width:100%;
padding:12px;
background:#6366f1;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
font-size:16px;
}

button:hover{
opacity:.9;
}

p{
margin-top:15px;
}

a{
color:#6366f1;
text-decoration:none;
font-weight:bold;
}

